// ### Primary
$Softred: #fe7867;
$Yellow: #fad400;
$Darkdesaturatedcyan: #25564b;
$Darkblue: #19536b;
$Darkmoderatecyan: #458c7e;

// ### Neutral
$Verydarkdesaturatedblue: #23303e;
$Verydarkgrayishblue: #5a636c;
$Darkgrayishblue: #818498;
$Grayishblue: #a7abae;
$White: #ffffff;